In [1]:
import pandas as pd

In [4]:
pip install xlrd

Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.

In [9]:
path1="D:/11/000001CNY01.xls"
security=pd.read_excel(path1)
security.head(10)

     日期Date  全收益指数收盘价Total Return Index       涨跌%  开盘
0  20231201                   3274.3061  0.720088 NaN
1  20231130                   3272.1859  0.452974 NaN
2  20231129                   3263.5163  0.157217 NaN
3  20231128                   3281.4754  0.937978 NaN
4  20231127                   3274.0731  0.788690 NaN
5  20231124                   3283.9797       NaN NaN
6  20231123                   3306.5331  0.270325 NaN
7  20231122                   3286.8299  0.964653 NaN
8  20231121                   3313.0929  0.275080 NaN
9  20231120                   3313.5101  0.681489 NaN

In [10]:
security.columns

Index(['日期Date', '全收益指数收盘价Total Return Index', '涨跌%', '开盘'], dtype='object')

In [11]:
index_array=security.isnull().sum()
index_array

日期Date                          0
全收益指数收盘价Total Return Index      1
涨跌%                             1
开盘                            818
dtype: int64

In [12]:
security[security['全收益指数收盘价Total Return Index'].isnull()]

      日期Date  全收益指数收盘价Total Return Index       涨跌%  开盘
11  20231116                         NaN  0.057223 NaN

In [14]:
security[security['涨跌%'].isnull()]

     日期Date  全收益指数收盘价Total Return Index  涨跌%  开盘
5  20231124                   3283.9797  NaN NaN

In [15]:
security[security['开盘'].isnull()][:10]

     日期Date  全收益指数收盘价Total Return Index       涨跌%  开盘
0  20231201                   3274.3061  0.720088 NaN
1  20231130                   3272.1859  0.452974 NaN
2  20231129                   3263.5163  0.157217 NaN
3  20231128                   3281.4754  0.937978 NaN
4  20231127                   3274.0731  0.788690 NaN
5  20231124                   3283.9797       NaN NaN
6  20231123                   3306.5331  0.270325 NaN
7  20231122                   3286.8299  0.964653 NaN
8  20231121                   3313.0929  0.275080 NaN
9  20231120                   3313.5101  0.681489 NaN

In [17]:
security_del=security.drop('开盘',axis=1,inplace=False)
security_del.head(10)

     日期Date  全收益指数收盘价Total Return Index       涨跌%
0  20231201                   3274.3061  0.720088
1  20231130                   3272.1859  0.452974
2  20231129                   3263.5163  0.157217
3  20231128                   3281.4754  0.937978
4  20231127                   3274.0731  0.788690
5  20231124                   3283.9797       NaN
6  20231123                   3306.5331  0.270325
7  20231122                   3286.8299  0.964653
8  20231121                   3313.0929  0.275080
9  20231120                   3313.5101  0.681489

In [23]:
security_del=security_del.dropna(axis=0,inplace=False)#生成副本
security_del.head(10)

      日期Date  全收益指数收盘价Total Return Index       涨跌%
0   20231201                   3274.3061  0.720088
1   20231130                   3272.1859  0.452974
2   20231129                   3263.5163  0.157217
3   20231128                   3281.4754  0.937978
4   20231127                   3274.0731  0.788690
6   20231123                   3306.5331  0.270325
7   20231122                   3286.8299  0.964653
8   20231121                   3313.0929  0.275080
9   20231120                   3313.5101  0.681489
10  20231117                   3298.4310  0.544262

In [24]:
index_array1=security_del.isnull().sum()
index_array1

日期Date                        0
全收益指数收盘价Total Return Index    0
涨跌%                           0
dtype: int64

In [27]:
a=security['全收益指数收盘价Total Return Index'].median()
index1=security.fillna({'全收益指数收盘价Total Return Index':a})
index1.iloc[13]

日期Date                        2.023111e+07
全收益指数收盘价Total Return Index    3.300272e+03
涨跌%                           2.789445e-01
开盘                                     NaN
Name: 13, dtype: float64

In [29]:
b=security['涨跌%'].mean()
stockprice1=security.fillna({'涨跌%':b})
stockprice1.iloc[7]

日期Date                        2.023112e+07
全收益指数收盘价Total Return Index    3.286830e+03
涨跌%                           9.646526e-01
开盘                                     NaN
Name: 7, dtype: float64

In [31]:
security_del.to_csv('del.csv', index=False)

In [50]:
pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   ---------------------------------------- 44.8/44.8 kB 18.1 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000002B485EBCF10>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata

In [52]:
import pymysql
conn = pymysql.connect(host='localhost', user='root', password='123456', db='notebook')
cursor = conn.cursor()

In [61]:
import pandas as pd
from sqlalchemy import create_engine, text

In [62]:
host = 'localhost' # MySQL服务器地址
port = 3306        # MySQL服务器端口号
user = 'root'      # MySQL登录用户名
password = '123456'   # MySQL登录密码
dbname = 'notebook'    # 要连接的数据库名称
conn = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{dbname}", echo=False)

In [63]:
df = pd.DataFrame(security_del, columns=['日期Date', '全收益指数收盘价Total Return Index','涨跌%'])

In [65]:
with conn.connect() as connection:
    df.to_sql("mytable", con=connection, if_exists="append")